.fullScreen {
  background-image: url('../images/beach.jpg');
  background-size: 100vw auto;
  height: 100vh
}

.background {
  font-family: garamond;
  text-align: center;
}

.homeBody {
  padding-left: 644px;
  padding-top: 184px;
}

.title {
  font-size: 80px;
}

.phrase {
  font-size: 25px;
}