.searchPage {
  /* background-image: url('../images/copenhagen.jpg'); */
  background-size: 100vw auto;
  height: 100vh;
}

.header {
  font-family: garamond;
  text-align: center;
}

/* Location */

.location {
  display: flex;
  justify-content: center;
}

/* Foods Styling */
.food {
  width: 400px;
  text-align: center;
}

.foodTitle {
  font-size: 30px;
}

/* Drinks Styling */

.Drinks {
  width: 400px;
}

/* Budget Styling */

.budget {
  height: 100px;
  display: flex;
  justify-content: center;
}

.budgetDiv {
  text-align: center;
  width: 400px;
}

/* Travel Now Button Styling */

.travelNow {
  display: flex;
  justify-content: center;
}