.searchPage {
  background-size: 100vw auto;
  height: 100vh;
  background-color: #E1DBDF;
  padding-top: 15px;
}

/* Header Styling */

.header {
  font-family: garamond;
  text-align: center;
}

/* Selected Options Styling */

.selectedOptionsTitle {
  text-decoration: underline;
}

/* Travel Now Button Styling */

.seeResults {
  padding-top: 20px;
  align-content: center;
}